<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/secure}">Home</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#" th:text="${name}"></a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Log Out</a></li>
					
				</ul>
			</div>
		</div>
	</nav>
	
	<h1 class="mt-5 text-center" >Student Dashboard</h1>
	<h3 class="text-center">Profile</h3>
	<section class="fluid-container" style="background-color: white;">
		<div class="row p-5">
			<div class="col-md-2 offset-md-1">
				<div class="list-group">
				  <a th:href="@{/secure/StudentDashboard/DonationHistory}" class="list-group-item list-group-item-action mb-5">Donation History</a>
				  <a th:href="@{/secure/StudentDashboard/MessageCenter}" class="list-group-item list-group-item-action mb-5">Message Center</a>
				  <a th:href="@{/secure/StudentDashboard/ProfileManager}" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Manage Profile</a>
				</div>
			</div>
			<div class="offset-md-2 col-md-5">
			<div class="mb-3">
				<h1>
					Welcome [[${studentName}]]
				</h1>
				<h2>Here's Your Profile:</h2>
				<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 40rem">
				 	<img class="card-img-top" src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80" alt="Card image cap">
				 	<br/>
				 	<br/>
				 	<div class="card-body">
				 	<div class="card-header">
    					<h3 th:text="${studentName}" style="text-align:center"></h3>
  					</div>
						<br/>
						<h4>Email: [[${email}]]</h4>
						<h4>Program of Interest: [[${program}]]</h4>
						<h4>Post Secondary Wish to Attend: [[${postSecondary}]]</h4>
						<h4>Current High School Attending: [[${highSchoolName}]]</h4>
						<br>
					<div class="card-header">
    					<h3>My Story:</h3>
  					</div>
  					<br/>
						<h5>[[${story}]]</h5>
					</div>
				</div>
		</div>
	</div>
	</div>
	</section>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
	<!-- <script src="https://www.paypal.com/sdk/js?client-id=AU74ikxPWJiBuYeVxE-UVvVLuNdLMBFx7XSl1YChqshEe7mJMbvA9WKholLIBGpkYdtlM7sk9rvndhAM&currency=CAD" data-sdk-integration-source="button-factory"></script> -->
	<!-- <script>
		paypal.Buttons({
		  style: {
		    layout:  'vertical',
		    color:   'blue',
		    shape:   'rect',
		    label:   'paypal'
		  },
		  // Call your server to set up the transaction
          createOrder: function(data, actions) {
              return fetch('/demo/checkout/api/paypal/order/create/', {
                  method: 'post',
                  headers: {
                    	'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({'amount': document.querySelector("#amount").value})
              }).then(function(res) {
                  return res.text();
              }).then(function(orderId) {
                  return orderId;
              });
          },
          // Call your server to finalize the transaction
          onApprove: function(data, actions) {
              return fetch('/demo/checkout/api/paypal/order/capture/', {
                  method: 'post',
                  headers: {
                  	'Content-Type': 'text/plain',
                  },
                  body: data.orderID
              }).then(function(res) {
                  return res.json();
              }).then(function(orderData) {

            	  const student = document.querySelector("#student");

            	  const email = student.options[student.selectedIndex].getAttribute("email");
            	  const amount = document.querySelector("#amount").value;
            	  const donorName = document.querySelector("#donorName").value;
            	  
            	  const donation = `${donorName},${amount},${email}`;
				  const url = "/secure/utility/saveDonation";

				  fetch(url, {
					method: 'post',
					headers: {	
						'Content-Type': 'text/plain'
					},
					body: donation
				  });           	  
            	  
                  var errorDetail = Array.isArray(orderData.details) && orderData.details[0];

                  if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                      return actions.restart(); // Recoverable state, per:
                  }

                  if (errorDetail) {
                      var msg = 'Sorry, your transaction could not be processed.';
                      if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                      if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                      return alert(msg); // Show a failure message
                  }

                  // Show a success message
                  alert('Transaction completed by ' + orderData.payer.name.given_name);
              });
          }
		}).render('#paypal-button-container');
	</script> -->
</body>
</html>