<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		ntegrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
		<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" media="all"  href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
            
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signin" action="#" th:action="@{/register}" method="post" onsubmit="return verify()">
              <div class="form-label-group">
                <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
                <label for="inputUsername">Username</label>
              </div>
              
              <div class="form-label-group">
                <input type="text" id="inputFirstname" class="form-control" placeholder="First Name" name="firstname" required autofocus>
                <label for="inputFirstname">First Name</label>
              </div>
              
              <div class="form-label-group">
                <input type="text" id="inputLastname" class="form-control" placeholder="Last Name" name="lastname" required autofocus>
                <label for="inputLastname">Last Name</label>
              </div>

              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required>
                <label for="inputEmail">Email Address</label>
              </div>         
              
               <div >
                <input type="radio" id="student" name="account" value="student" checked>
				<label for="student">Student</label><br><br><br>
				<input type="radio" id="donor" name="account" value="donor">
				<label for="donor">Donor</label><br>         
				</div>             
              

              <hr>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" name="verifyPassword" required>
                <label for="inputConfirmPassword">Confirm password</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
              <!-- takes you to login, but I did not implement a login page :D-->
              <a class="d-block text-center mt-2 small" href="#" th:href="@{/login}" role="button" style="width:auto;">Sign In</a>
              <hr class="my-4">
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
