<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" media="all" href="../static/CSS/Style.css" th:href="@{/css/style.css}" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
            <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signin" action="#" th:action="@{/signUp}" th:object="${newUser}" method="post">
              <div class="form-label-group">
                <input type="text" id="inputUsername" class="form-control" placeholder="Username" th:field="*{uName}" required autofocus>
                <label for="inputUsername">Username</label>
              </div>
              
              <div class="form-label-group">
                <input type="text" id="inputFirstname" class="form-control" placeholder="First Name" th:field="*{fName}" required autofocus>
                <label for="inputFirstname">First Name</label>
              </div>
              
              <div class="form-label-group">
                <input type="text" id="inputLastname" class="form-control" placeholder="Last Name" th:field="*{lName}" required autofocus>
                <label for="inputLastname">Last Name</label>
              </div>

              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" th:field="*{email}" required>
                <label for="inputEmail">Email Address</label>
              </div>
              
              <div class="form-label-group">
                <input type="tel" id="inputTelephone" class="form-control" placeholder="Telephone" th:field="*{pNum}" required>
                <label for="inputTelephone">Telephone #</label>
              </div>
              
               <div class="form-label-group">
                <input type="tel" id="inputTelephone" class="form-control" placeholder="Telephone" th:field="*{pNum}" required>
                <label for="inputTelephone">Telephone #</label>
              </div>
              
               <div class="form-label-group">
                <input type="date" id="inputDOB" class="form-control" placeholder="Birth Date" th:field="*{dob}" required>
                <label for="inputDOB">Birth Date</label>
              </div>
              

              <hr>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" th:field="*{password}" required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" th:field="*{password}" required>
                <label for="inputConfirmPassword">Confirm password</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
              <!-- takes you to login, but I did not implement a login page :D-->
              <a class="d-block text-center mt-2 small" href="#">Sign In</a>
              <hr class="my-4">
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
